.custom-btn {
  background-color: #00bcd4;
  color: white;
  border: none;
  padding: 12px 20px;
  
  
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-btn:hover {
  background-color: #0097a7;
}
h1 {
  font-size: 2rem;
  color: #333;
  transition: transform 0.2s ease-in-out;
}

h1:hover {
  transform: scale(1.1);
}

